<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyApEeNmX8fLK4zOWZ0yS9ezejLI_SI8HYA</string>
	<key>GCM_SENDER_ID</key>
	<string>300216488861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.practice001</string>
	<key>PROJECT_ID</key>
	<string>practice001-7a937</string>
	<key>STORAGE_BUCKET</key>
	<string>practice001-7a937.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300216488861:ios:b277c50eb94459c2e0d574</string>
</dict>
</plist>